$image-path: '../images/';

$font-quicksand: 'Quicksand', sans-serif;
$font-roboto: 'Roboto Condensed', sans-serif;

// Color
$color-blue: rgb(34, 151, 147);

$color-grey: #999999;
$color-grey2: #777777;
$color-grey3: #555555;
$color-grey4: #333333;
$color-grey5: #111111;

$color-light-grey: #f9f9f9;
$color-light-grey2: #ececec;
$color-light-grey3: #dfdfdf;
$color-light-grey4: #d3d3d3;
$color-light-grey5: #c6c6c6;
$color-light-grey6: #b9b9b9;
$color-light-grey7: #acacac;

// Media Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Dimensions
$header-height: 60px;
$footer-height: 300px;