@import './variables';

@import './common/common-header.scss';
@import './common/common-footer.scss';
@import './common/common-forms.scss';

@import './shop/shop.scss';

body {
  font-size: 16px;
  font-family: $font-quicksand;
  margin: 0 auto;
  text-align: center;
}

/* CLICKABLES */
[role="button"],
button,
input,
label,
a,
select {
  cursor: pointer;
  outline: none;
}